@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    position: absolute;
    border-radius: 10px;
}
.nome{
    animation: fade 1ms 0.5s forwards;
    opacity: 0;
    padding-left: 76px;
    padding-top: 5px;
}
.text-revel{
    overflow: hidden;
    position: relative;
    &::after{
        animation: text-revel 1.5s ease forwards;
        background-color: black;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
@keyframes text-revel{
    from{
        transform: translateX(-101%);
    }to{
        transform: translateX(101%);
    }
}
@keyframes fade{
    to{
        opacity: 1;
    }
}
body{
    background-color: antiquewhite;
}
.montserrat-bbz{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.titulo{
    position: absolute;
    position: sticky;
    top: 0;
    background-color: antiquewhite;
    border-radius: 5% 5% 0% 0%;
    height: flex;
    width: flex;
    padding-left: 35px;
    border: 2px gray;
    margin: 0px;
}
.nome{
    font-family: 'Montserrat';
    font-weight: 800; /*ajusta a espessura da letra*/
    color: black;
}
h2{
    font-family: 'Montserrat';
    font-size: 3em; /*exibe a fonte o triplo do tamanho*/
}
h3{
    font-family: 'Montserrat';
    font-size: 1.25em;
}
.container{
    display: flex;
    margin: 5px;
    border: 2px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    display: block;
}
.container-inicio{
    display: flex;
    background-color: antiquewhite;
    height: 450px;
    min-width: 400px;
    max-width: 500px;
    border: 2px gray;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    justify-content:right;
    flex-direction: column;
}
.texto-descricao{
    color: antiquewhite;
}
.container-descricao{
    display: flex;
    background-color: black;
    height: auto;
    min-width: 400px;
    max-width: 500px;
    border: 2px gray;
    margin-right: auto;
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
.contato{
    display: flex;
    background-color: black;
    height: 80vh;
    min-width: 400px;
    max-width: 500px;
    border: 2px gray;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    justify-content: left;
}
.texto-contato{
    color: antiquewhite;
}
a:link, a:visited, a:active {
	text-decoration: none;
    color: antiquewhite;
}
a:hover {text-decoration: underline;
	color:whitesmoke;
}

/*Animação do card - palavras*/
.cardEficiencia:hover .phraseEficiencia{
    opacity: 1;
    visibility: visible;
}
.phraseEficiencia{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 115%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: antiquewhite;
    top: 400px;
    transform: translateX(-3%);
    padding: 8px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cardExperiencia:hover .phraseExperiencia{
    opacity: 1;
    visibility: visible;
}
.phraseExperiencia{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 115%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: antiquewhite;
    top: 400px;
    transform: translateX(-3%);
    padding: 8px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cardCriatividade:hover .phraseCriatividade{
    opacity: 1;
    visibility: visible;
}
.phraseCriatividade{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 115%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: antiquewhite;
    top: 400px;
    transform: translateX(-3%);
    padding: 8px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cardAnalise:hover .phraseAnalise{
    opacity: 1;
    visibility: visible;
}
.phraseAnalise{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 115%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: antiquewhite;
    top: 400px;
    transform: translateX(-3%);
    padding: 8px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.cardPesquisa:hover .phrasePesquisa{
    opacity: 1;
    visibility: visible;
}
.phrasePesquisa{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 115%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: antiquewhite;
    top: 400px;
    transform: translateX(-3%);
    padding: 8px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.281);
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

